/* styles.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f7b5b5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}


.container {
  background-color: #6f4040;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

h1 {
  text-align: center;
}

form {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

input,
textarea {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #45a049;
  border-radius: 4px;
}

button {
  margin-top: 15px;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.hidden {
  display: none;
}

#confirmation {
  text-align: center;
  color: green;
  margin-top: 15px;
}

    .img-container {

      display: flex;
      gap: 15px;
    }

    .img-wrapper {
      position: relative;
      width: 100px;
      height: 100px;
      cursor: pointer;
    }

    .img-wrapper img {
      width: 100%;
      height: 100%;
      display: block;
      border: 2px solid transparent;
      transition: 0.3s;
    }
    .img-wrapper p{
      color: #45a049;
      font-size: larger;
      font-weight: bolder;
    }

    .img-wrapper.checked img {
      opacity: 0.7;
      border-color: green;
    }

    .checkmark {
      position: absolute;
      top: 5px;
      right: 5px;
      background: rgba(0, 128, 0, 0.6);
      color: white;
      font-size: 20px;
      padding: 4px 6px;
      border-radius: 50%;
      display: none;
    }

    .img-wrapper.checked .checkmark {
      display: block;
    }